.archive-page {
  max-width: 900px;
  margin: 50px auto;
}

.title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 12px;
}

.description {
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 40px;
}

.tab-menu {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 30px;
}

.tab-menu button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #6b7280;
}

.tab-menu button.active {
  color: #2563eb;
  border-bottom: 3px solid #2563eb;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/*우리 팀 규칙*/
.rule-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 20px 35px;
}

.number {
  width: 45px;
  height: 45px;

  border-radius: 50%;
  background-color: #2563eb;
  color: white;

  display: flex;
  justify-content: center;
  /*가로기준숫자가운데 */
  align-items: center;
  /*숫자가운데 */

  font-weight: bold;
  font-size: 18px;
}

.rule-card h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}

.rule-card p {
  color: #6b7280;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*공유자료실*/
.file-card {
  display: flex;
  /* justify-content:space-between; */
  align-items:center;

  gap: 20px;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 15px 30px;
}

.btn-download {
  margin-left: auto;
}
.file-card h3{
  margin-top: 8px;
  font-size: 18px;
}

.file-card span {
  color: #6b7280;
  font-size: 14px;
}

.file-card button {
  border: 1px solid #e5e7eb ;
  background-color: white;

  border-radius: 15%;
  cursor: pointer;
}

.file-card button:hover{
  background-color: #e8e9f0;
}
.fileIcon {
  background-color:rgb(206, 224, 255) ;
  color: #2563eb;
  border-radius: 10px;
  width: 30px;
  height: 40px;
}