.profile-btn {
    width: 36px;
    height: 36px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    
    background-color: #e9ecef;
    /* bg-secondary 느낌 */
    color: #495057;

    transition: background-color 0.2s ease;
}

.profile-btn:hover {
    background-color: #dee2e6;
    /* hover:bg-accent 느낌 */
}

.write-btn {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar {
    height: 60px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 50;
}

.nav-con {
    max-width: 72rem;
    margin: 0 auto;
}