.profile-btn {
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    background-color: #e9ecef;
    color: #495057;

    transition: background-color 0.2s ease;
}

.profile-btn:hover {
    background-color: #dee2e6;
}

.profile-btn img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
    background-color: transparent; 
}

.profile-btn svg{
    width: 50%;
    height: 50%;
}