.card-container {
    cursor: pointer;
    width: 100%;
    min-width: 0;
}

.category {
    background-color: #eaf3ff;
    color: #2b6cff;
}

.card-hover {
    transition: all .2s ease;
}

.card-hover:hover {
    transform: translateY(-2px);
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, .1),
        0 2px 4px -2px rgba(0, 0, 0, .1);
}

.custom-title {
    font-size: 1rem;
    transition: color .2s ease;
}

.card-hover:hover .custom-title {
    color: var(--bs-primary);
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    line-clamp: 1;
    /* 표준 속성 */
    -webkit-line-clamp: 1;
    /* 구형/브라우저 지원용 */

    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    line-clamp: 2;
    /* 표준 속성 */
    -webkit-line-clamp: 2;
    /* 구형/브라우저 지원용 */

    overflow: hidden;
}